.contact_heading {
    color: red!important;
}

.align-it {
    text-align: right;
}

#col-4 {
    padding-left: 10%;
    padding-right:10%;
}

/*.submit-your-song{*/


.profile-heading {
    text-align:center;
}

.border-box {
    border-style:solid;
}

#image-1{
    margin-bottom: 10px;
   
}

#image-2{
    margin-bottom: 10px;
}

#image-3{
    margin-bottom: 10px;
}
	
a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

a:hover 
{
     color:red; 
     text-decoration:none; 
    
     cursor:pointer; 
     
}

.align-it-center{
    text-align:center;
}

.align-it{
    text-align:center;
}

#div_id_genre__name{
text-align:left;
  
}

#div_id_soundslike__name {
    text-align:right;
}


#div_id_mood__name{
  text-align:left;
}

#div_id_Type__name{

      text-align:right;
}


#div_id_gender__name{
    text-align:left;
}

#div_id_tempo__name{
    text-align:right;
}


#div_id_genre__name.textinput.textInput{
    text-align:left;
}

.text-center {
text-align:right;
}

.card-body{
 padding: 0;
 flex:none;
}
.card{
    border:none;
}
.card-footer{
    display:none;
}

.card-img-top{
    max-height: 240px;
   
}