.contact_heading {
    color: red!important;
}

.align-it {
    text-align: right;
}

#col-4 {
    padding-left: 10%;
    padding-right:10%;
}

/*.submit-your-song{*/


.profile-heading {
    text-align:center;
}


