.contact_heading {
    color: red!important;
}

.align-it {
    text-align: right;
}

#col-4 {
    padding-left: 10%;
    padding-right:10%;
}

.submit-your-song{
    text-align:center;
}

.form-container{
    text-align:center;
}

.center{
    text-align: center;
}
.profile-heading {
    text-align:center;
}
.center-align{
    text-align:center;
}
.border-box {
    border-style:solid;
}

#image-1{
    margin-bottom: 10px;
   
}

#image-2{
    margin-bottom: 10px;
}

#image-3{
    margin-bottom: 10px;
}
	
a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

a:hover 
{
     color:red; 
     text-decoration:none; 
    
     cursor:pointer; 
     
}

.align-it-center{
    text-align:center;
}

.align-it{
    text-align:center;
}

.control-label{
  text-align:center;
}
.control-group{
    text-align: center;
}
#id_genre__name{
text-align: center;
  
}

#id_soundslike__name {
   
}


#id_mood__name{
  
}

#id_Type__name{

     
}


#id_gender__name{

}

#id_tempo__name{
  
}


#id_genre__name{
   
}

.text-center {
text-align:right;
}

.card-body{
 padding: 0;
 flex:none;
}
.card{
    border:none;
}
.card-footer{
    display:none;
}

.card-img-top{
    max-height: 240px;
   
}

.page-margin{
    padding-left: 150px;
    padding-right: 150px;
}
