{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{%static 'css/fix.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css"/>
	{% endblock %}
{% block content %} 


	
<div class="home">

	<!-- Home Slider -->
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">

			<!-- Slide -->
			<div class="slide">
				<div class="background_image" style="background-image:url({% static 'images/roberta-sorge-PN_c3RKCVlA-unsplash.jpg'%})"></div>
				<div class="home_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_content">
									<div class="home_title_container text-center">
										<div class="home_title islive text-center">
											<h1> love your <span>music.</span></h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Home Social -->
		<div class="home_social">
			<div class="d-flex flex-row align-items-center justify-content-start">
				<div class="home_social_text">follow</div>
				<div class="home_social_list">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
		{% if messages %}
		<div>
			{% for message in messages %}
			{{ message }}
			{%endfor%}
		</div>
		
		{% endif %}
		
		<!-- Scroll Down -->
		<div class="scroll_down scroll_down_link" data-scroll-to=".tours">
			<a href="#"></a>
			<div class="d-flex flex-row align-items-center justify-content-start">
				<div>scroll down</div>
				<div class="scroll_arrows d-flex flex-column align-items-start justify-content-start">
					<img src="{%static 'images/arrow_down.png' %}" alt="">
					<img src="{%static 'images/arrow_down.png' %}" alt="">
				</div>
			</div>
		</div>

	</div>
</div>
 <!--single song preview container ---------->

<div class="song">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%static 'images/song.jpg' %}" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="song_content">

 <!--Player -->
					<div class="single_player_container">
						<div class="single_player d-flex flex-row align-items-center justify-content-start">
							<div id="jplayer_1" class="jp-jplayer"></div>
							<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
								<div class="jp-gui jp-interface d-flex flex-lg-row flex-column align-items-start justify-content-start">

 <!--Player Controls -->
									<div class="player_controls_box d-flex flex-row align-items-start justify-content-start">
										<div class="order-lg-1 order-2">
											<div class="player_title">song of the week</div>
											<div class="jp-controls-holder player_controls ml-auto d-flex flex-row align-items-start justify-content-start">
												<button class="jp-play player_button" tabindex="0"></button>
												<button class="jp-stop player_button" tabindex="0"></button>
											</div>
										</div>
										<div class="song_image ml-lg-auto order-lg-2 order-1"><img src="{%static 'images/song_1.jpg' %}" alt=""></div>
									</div>

 <!--Progress Bar -->
									<div class="player_bars d-flex flex-row align-items-start justify-content-start">
										<div class="player_progress_box">
											<div class="jp-current-time" role="timer" aria-label="time">00:00</div>
											<div class="song_info">
												<div class="jp-artist" aria-label="title">Michael Smith</div>
												<div class="jp-title" aria-label="title"></div>
											</div>
											
										</div>

 <!--Volume Controls -->
										<div class="jp-volume-controls ml-lg-auto">
											<div class="mute_button">
												<button class="jp-mute" tabindex="0"></button>
											</div>
											<div class="d-flex flex-row align-items-center justify-content-start">
												<div class="jp-volume-bar">
													<div>
														<div class="jp-volume-bar-value"></div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="jp-no-solution">
									<span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!---------------------------------------------------------?-->

<!---------Injected songs showing 2 most recent entries ----------->
<div style="background-image: url('{% static 'images/row-1-col-1 (3).jpg'%}'); height: 295px; background-size: cover; margin-bottom:7px; background-attachment: fixed;">
	<h3 style="color:white">{{song1.name}}</h3>
	<!--<h3 style="color:white">{{song.time}}</h3>--deal with tmrw and flask/comments/edit readme!-->
	<audio controls controlsList="nodownload" style="margin:147px 40%">
  <source src="{{song1.downloadfile.url}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>
<div style="background-image: url('{% static 'images/row-2-col-1 (4).jpg'%}'); height: 203px; background-attachment: fixed; background-size: cover; margin-bottom:7px">
		<h3 style="color:white">{{song2.name}}</h3>
	<audio controls controlsList="nodownload" style="margin:95px 40%">
  <source src="{{song2.downloadfile.url}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>
<div style="background-image: url('{% static 'images/row-3-col-1 (2).jpg'%}'); height: 203px; background-attachment: fixed; background-size: cover; margin-bottom:7px">
	<h3 style="color:white">{{song3.name}}</h3>
	<audio controls controlsList="nodownload" style="margin:95px 40%">
  <source src="{{song3.downloadfile.url}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>


<!-- Featured -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title text-center tours ">
					<h1>Find Your Voice. Pick Your Genre...</h1>
				</div>
			<div class="card-group">
  <div class="card">
    <img src="{% static 'images/ian-dooley-k8OCHhEymME-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
    </div>
      <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}"> Pop</button></a>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/joseph-ngabo-kWnLO5B-X2s-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
          <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Hiphop</button></a>

    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/natalie-rhea-riggs-ncWzRjn8Z0w-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
 <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Country</button></a>
    <div class="card-footer">
    </div>
  </div>
  <div class="card-group">
 
  <div class="card">
    <img src="{%static 'images/hanny-naibaho-D_LYjtHnDXE-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
         <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Dance</button></a>
         
    <div class="card-footer">
    </div>
  </div>
   <div class="card">
    <img src="{% static 'images/dane-deaner-bIGJUpf6D-4-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
         <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Alternative</button></a>

    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/kyle-ashton-ZgjlBP_mDjQ-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
         <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Rock</button></a>
    <div class="card-footer">
    </div>
  </div>
</div>
<div class="card-group">
	 <div class="card">
    <img src="{%static 'images/elijah-m-henderson-xgT3iQDIijU-unsplash.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
	 <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Americana</button></a>
    <div class="card-footer">
    </div>
  </div>

  <div class="card">
    <img src="{%static 'images/alexandre-debieve-2EmLMaTshko-unsplash.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
         <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Rap</button></a>
    <div class="card-footer">
      
    </div>
  </div>
    <div class="card">
    <img src="{%static 'images/israel-palacio-Y20JJ_ddy9M-unsplash.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
         <button type="button" class="btn btn-secondary"><a href="{% url 'songs' %}">Rythmn & Blues</button></a>

    <div class="card-footer">
    </div>
  </div>
 
</div>
</div>
			</div>
		</div>
	</div>

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">
						<h1>Latest News</h1>
					</div>
				</div>
			</div>
			<div class="row news_row">

				<!-- News Post -->
				<div class="col-xl-4 col-md-6">
					<div class="news_post image_top">
						<div class="news_post_image"><img src="{%static 'images/news_1.jpg' %}" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_date"><a href="#">Oct 19, 2020</a></div>
							<div class="news_post_title"><a href="#">Music Seminary at Festival</a></div>
							<div class="news_post_text">
								<p>How can music suffer beneath the jargon? Music disappoints an incorrect tune around the bush crew. Outside library screams music. The footnote peers over library.</p>
							</div>
						</div>
					</div>
				</div>
				

				<!-- News Post -->
				<div class="col-xl-4 col-md-6">
					<div class="news_post image_bottom d-flex flex-column align-items-start justify-content-start">
						<div class="news_post_content order-md-1 order-2">
							<div class="news_post_date"><a href="#">Oct 19, 2020</a></div>
							<div class="news_post_title"><a href="#">Festival list for 2019</a></div>
							<div class="news_post_text">
								<p>An intrinsic creator produces live show. Band music waits beneath a competitive verse. Whatever fudge meets band music in the revolting psychologist.</p>
							</div>
						</div>
						<div class="news_post_image order-md-2 order-1"><img src="{%static 'images/news_2.jpg' %}" alt=""></div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-md-6">
					<div class="news_post image_top">
						<div class="news_post_image"><img src="{%static 'images/news_3.jpg' %}" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_date"><a href="#">Oct 19, 2020</a></div>
							<div class="news_post_title"><a href="#">New album release in 2019</a></div>
							<div class="news_post_text">
								<p>Band music compromises album release. Album release slices a camp throughout a pet maker. A horse consents without the critic. Band music shoots a wizard underneath the gown.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<!-- Footer -->
