<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head%}
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Music template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{%static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{%static 'styles/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'styles/contact_responsive.css' %}">
{%endblock%}
{% block content %}

	 <!--Home -->
<!--<p>First Name*:<b>{{profile.first_name}}</b></p><br>--move later*********-->
	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%static 'images/contact.jpg' %}" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">{{profile.first_name}}'s Profile</div>
							<p>{{profile.email}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="app">
	<h1 class="profile-heading">My Profile</h1>
	<div class="container">
		<div class="row row-lg-eq-height">

			 <!--App Image -->
			<div class="col-lg-6 order-lg-1 order-2 app_col text-center">
				<div class="app_image">
					<img src="{%static 'images/jason-leung-Xaanw0s0pMk-unsplash.jpg' %}" alt="">
					 <!--<div class= "container">-->
<!--	<div class="row">-->
		<!--<div class="col-6">-->

<p>First Name*:<b>{{profile.first_name}}</p>
<p>Last Name*:<b>{{profile.last_name}}</p>
<p>Email*:<b>{{profile.email}}</p>
<p>Adress*:<b>{{profile.address}}</p>
<p>Age*:<b>{{profile.age}}</p>
<p>Phone*:<b>{{profile.phone}}</p>
<td>Update Account Info</td><a href="{% url 'register' %}">Myaccount</a></td>

<!--<input type="text" name={{profile.first_name}}"><br>-->
<!--<label>Last Name*:</label><br>-->
<!--<input type="text" name="name"><br-->
<!--<lable>Age:</lable> <br />-->
<!--<input type="number" name="age"/><br />-->
<!--<label>Address:</label> <br />-->
<!--<input type="text" name="address"/> <br />-->
<!--<label>E-mail*:</label><br>-->
<!--<input type="text" name="mail"><br>-->
<!--<label>Password*:</label> <br />-->
<!--<input type="password" name="password" id="password" onkeyup='check();'/>-->
<!--<br>-->
<!--<input type="submit" value="Update Contact Info">-->
<!--<br>-->
<!--</div>-->
				</div>
			</div>

			 <!--App Content -->
			<!--<div class="col-lg-6 order-lg-2 order-1">-->
			<!--	<div class="app_content d-flex flex-column align-items-start justify-content-center">-->
			<!--		<div class="section_title">-->
			<!--			<h1></h1>-->
			<!--		</div>-->
			<!--		<div class="app_text">-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum, neque ac porttitor scelerisque, nisi nisl tincidunt enim, non aliquet diam neque sed urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante-->
						<!--	ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum lacus suscipit sit amet</p>-->
			<!--		</div>-->
			<!--		<div class="stores d-flex flex-row align-items-start justify-content-start flex-wrap">-->
			<!--			<div class="store"><a href="#"><img src="{%static 'images/appstore.png' %}" alt=""></a></div>-->
			<!--			<div class="store"><a href="#"><img src="{%static 'images/googleplay.png' %}" alt=""></a></div>-->
			<!--		</div>-->
			<!--	</div>-->
			<!--</div>-->

		</div>
	</div>
</div>


<div>
</div>


	 <!--Contact -->

		<!--		 Contact Content -->
			

		<!--		 Contact Form -->
			

	 <!--Contact Map -->

	<!--<div class="contact_map">-->

		 <!--Google Map -->
		
	<!--	<div class="map">-->
	<!--		<div id="google_map" class="google_map">-->
	<!--			<div class="map_container">-->
	<!--				<div id="map"></div>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->

	<!--</div>-->

	<!--</div>-->
{% endblock %}
	 <!--Footer -->
	