<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head%}
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Music template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{%static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{%static 'styles/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'styles/contact_responsive.css' %}">
{%endblock%}
{% block content %}

	 <!--Home -->
	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%static 'images/contact.jpg' %}" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">{{profile.first_name}}'s Profile</div>
							<p>{{profile.email}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="app">
	<h1 class="profile-heading">My Profile</h1>
	<div class="container" style="margin: 0px 38%">
		<div class="row row-lg-eq-height">

			 <!--App Image -->
			<div class="col-lg-6 order-lg-1 order-2 app_col text-center">
				<div class="app_image">
					<img src="{%static 'images/jason-leung-Xaanw0s0pMk-unsplash.jpg' %}" alt="">
					 <!--<div class= "container">-->
<!--	<div class="row">-->
		<!--<div class="col-6">-->

<p>First Name*:<b>{{profile.first_name}}</p>
<p>Last Name*:<b>{{profile.last_name}}</p>
<p>Email*:<b>{{profile.email}}</p>
<p>Adress*:<b>{{profile.address}}</p>
<p>Age*:<b>{{profile.age}}</p>
<p>Phone*:<b>{{profile.phone}}</p>
<td>Update Account Info</td><a href="{% url 'edit_profile' %}">Edit account</a></td>
				</div>
			</div>

		</div>
	</div>
</div>


<div>
</div>

	
{% endblock %}
	 <!--Footer -->
	