<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head%}
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Music template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{%static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{%static 'styles/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'styles/contact_responsive.css' %}">
<link rel="stylesheet" href="{%static 'css/style.css'%}"  type="text/css"/>
{%endblock%}
{% block content %}

<!-- Home/header -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%static 'images/contact.jpg' %}" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">Songupload </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<center>
<h1>Licensing</h1>
</center>

 
    <div class "row">
      	<div class="col-xl-12 center-align page-margin">
<form id="form_login" method = "POST" enctype="multipart/form-data">
  {% csrf_token  %}
  <div class="form-row center-align">
    <div class="form-group col-md-4">
      <label for="inputgenre">Genre</label>
      <select id="inputgenre" name="genretype" class="form-control">
         <option selected>Choose...</option>
        {%  for genre in genre %}
                      <option value="{{genre.id}}">  {{genre.name}}</option>
        {% endfor %}
      </select>
    </div>
   

    <div class="col-xl-4 ">
      <label for="inputsoundslike">Soundslike</label>
      <select id="inputsoundslike" name="soundslike" class="form-control">
        <option selected>Choose...</option>
        {% for soundslike in soundslike %}
            <option value="{{soundslike.id}}"> {{soundslike.name}}</option>
           
        {% endfor %}
      </select>
    </div>
    
   


    <div class="col-xl-4 ">
      <label for="inputmood">Mood</label>
      <select id="inputMood" name="Mood" class="form-control">
        <option selected>Choose...</option>
         {% for mood in mood %}
            <option value="{{mood.id}}"> {{mood.name}}</option>
           
        {% endfor %}
        
      </select>
    </div>
    
    <div class="form-group col-md-4">
      <label for="input-type">Type</label>
      <select id="input-type" name="music-type" class="form-control">
        <option selected>Choose...</option>
         {% for Type in Type %}
            <option value="{{Type.id}}"> {{Type.name}}</option>
           
        {% endfor %}
        
      
      </select>
    </div>
    
        
    <div class="form-group col-md-4">
      <label for="input-gender">Gender</label>
      <select id="input-gender" name="gender" class="form-control">
        <option selected>Choose...</option>
              {% for gender in gender %}
            <option value="{{gender.id}}"> {{gender.name}}</option>
           
        {% endfor %}
      
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="input-tempo">Tempo</label>
      <select id="input-tempo" name="tempo" class="form-control">
        <option selected>Choose...</option>
       {% for tempo in tempo %}
            <option value="{{tempo.id}}"> {{tempo.name}}</option>
           
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group align-it">
    <label for="songtitle">Songtitle</label>
    <input type="text" name="songtitle" class="form-control" id="songtitle" placeholder="Song title">
  </div>

  <div class="form-group align-it">
    <label for="inputlyrics">Lyrics</label>
    <textarea type="text" name="lyrics" class="form-control" id="inputlyrics" placeholder="Lyrics">
       </textarea>
  </div>
<div class="form-group align-it">
    <label for="time">Time</label>
    <input type="text" name="Time" class="form-control" id="songtitle" placeholder="Time in minutes and seconds ie. format 0">
  </div>

  <!--Upload a file to display with your recipe!-->
  <div class="form-group row align it">
    <label class="col-lg-2 col-form-label font-weight-semibold">Upload Music</label>
    <input type="file" name="upload" class="file-input btn btn-secondary " data-browse-class="btn btn-primary btn-block" data-show-remove="true" data-show-caption="true" data-show-upload="false" data-fouc>
  </div>
  <input type="submit" name="btn" class="btn btn-primary" value="+ Add New Song">
</form>
  </div>
  </div>

	

<!--------------------------------------------------------> 

{%endblock%}


<!--footer-->